/* #root > .sidebar_provider {
	display: grid;
	grid-template-areas:
		's h'
		's m'
		's m';
	grid-template-rows: auto 1fr;
	grid-template-columns:
		min(33.333333%, 250px)
		1fr;
} */

/* .sidebar {
	grid-area: s;
}
.header {
	grid-area: h;
}
.content {
	grid-area: m;
} */
.main-layout {
	display: grid;
	grid-template-rows: auto 1fr;
}
a {
	color: #af8b10;
}
